<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>
 <form class="login" method="post">
        <div class="login_info">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="login_info">
            <label class="label" for="password">password</label>
            <input class="input" type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="buttons">
            <button class="button" type="submit">Login</button>
        </div>
    </form>

</body>
</html>