<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FundooNoteAPP</title>
</head>
<body>
<form class="register" method="post">
        <div class="user_info">
            <label class="label" for="username">Username</label>
            <input class="input" type="text" id="username" name="username" placeholder="Enter Username" required>
        </div>
        <div class="user_info">
            <label class="label" for="password">password</label>
            <input class="input" type="password" id="password" name="password" placeholder="Enter Password" required>
        </div>
        <div class="user_info">
            <label class="label" for="first_name">First Name</label>
            <input class="input" type="text" id="first_name" name="first_name" placeholder="Enter FirstName" required>
        </div>
        <div class="user_info">
            <label class="label" for="last_name">Last Name</label>
            <input class="input" type="text" id="last_name" name="last_name" placeholder="Enter LastName" required>
        </div>
        <div class="user_info">
            <label class="label" for="email">Email</label>
            <input class="input" type="email" id="email" name="email" placeholder="Enter EmailID" required>
        </div>
        <div class="user_info">
            <label class="label" for="phone">Phone</label>
            <input class="input" type="number" id="phone" name="phone" placeholder="Enter PhoneNumber" required>
        </div>
        <div class="buttons">
            <button class="button" type="reset">Cancel</button>
            <button class="button" type="submit">Register</button>
        </div>
    </form>

</body>
</html>